<!-- Sidebar navigation -->

<mat-spinner *ngIf="showWaiting"></mat-spinner>


<div *ngIf="showWaiting == false">

    <div class="container-fluid">
        <div class="row">
    
            <nav class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="fas fa-user"></i>User Profile
                            </a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" (click)="authService.SignOut()">
                                <i class="fas fa-sign-out-alt"></i>Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
    
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="inner-adjust">
                    <div class="row pt-3 pb-2 mb-3 border-bottom" *ngIf="authService.userData as user">
                        <h1 class="h2">Welcome to your dashboard <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                        <div class="offset-ml-sm-auto offset-lg-6">
                            <div routerLink="/widgets">
                                <button mat-mini-fab color="primary">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <h4 class="text-center" style="margin-top: 5%; margin-left: 5px;">Add Widgets</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

<gridster [options]="options" style="background-color: white;" class="dashboardGrid">
    <div *ngFor="let item of this.gridData;">
        <app-twitch-base *ngIf="item.service == 'TWITCH'" position="{{item.position}}" type="{{item.type}}" widget_id="{{item.id_widget}}"></app-twitch-base>
        <app-twitter-base *ngIf="item.service == 'TWITTER'" position="{{item.position}}" type="{{item.type}}" widget_id="{{item.id_widget}}"></app-twitter-base>
        <app-spotify-base *ngIf="item.service == 'SPOTIFY'" position="{{item.position}}" type="{{item.type}}" widget_id="{{item.id_widget}}"></app-spotify-base>
    </div>
</gridster>
