<div *ngIf="this.state == true">
    <gridster-item [item]="this.item" class="trello-background">
        <div class="container-fluid">
            <div class="row" style="margin-top: 2%;">
                <div class="col-lg-3">
                    <img id="trello-logo" src="../../../../assets/trello.png">
                </div>
                <div class="offset-lg-1 col-lg-3">
                    <app-trello-board *ngIf="this.type == 'BOARD'"></app-trello-board>
                    <app-trello-cards *ngIf="this.type == 'CARDS'"></app-trello-cards>
                    <app-trello-members *ngIf="this.type == 'MEMBERS'"></app-trello-members>
                </div>
                <div class="offset-lg-4">
                    <mat-icon style="color: white;" (click)="this.deleteWidget($event)">clear</mat-icon>
                </div>
            </div>
        </div>
    </gridster-item>
</div>