<div *ngIf="this.state == true">
    <gridster-item [item]="this.item" class="trello-background">
        <div class="container-fluid" id="scrollbar" style="overflow-y: auto; max-height: calc(100% - 40px);">
            <div class="row justify-content-between" style="margin-top: 2%;">
                <div style="margin-left: 30px;">
                    <img id="trello-logo" src="../../../../assets/trello-mark-white.png">
                </div>
                <div>
                    <button mat-mini-fab color="basic" style="margin-right: 30px;" (click)="this.deleteWidget($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div class="justify-content-center">
                <app-trello-board *ngIf="this.type == 'BOARD'"></app-trello-board>
                <app-trello-cards *ngIf="this.type == 'CARDS'"></app-trello-cards>
                <app-trello-members *ngIf="this.type == 'MEMBERS'"></app-trello-members>
            </div>
        </div>
    </gridster-item>
</div>