.trello-background {
    background-color: #0A64B4;
    border: 6px solid #53A9F6;
    border-radius: 10px;
}

#trello-logo {
    margin-top: 2%;
    width: 30%;
    height: auto;
}

#scrollbar::-webkit-scrollbar {
    display: none;
}