<div class="row justify-content-center">
    <h1 id="widget-name">My Timeline</h1>
</div>
<div *ngFor="let item of this.userTimeline; let index = index;" class="posts">
    <div class="row">
        <div class="col-lg-2">
            <a target="_blank" href="https://twitter.com/{{item.user.screen_name}}"><img class="user_cover" src="{{item.user.profile_image_url}}"></a>
        </div>
        <div class="offset-lg-1 col-lg-8">
            <p>{{item.text}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <p>{{item.user.name}}({{item.user.screen_name}})</p>
        </div>
        <div class="offset-lg-7 col-lg-2" *ngIf="item.entities.urls[0] != undefined">
            <a target="_blank" href="{{item.entities.urls[0].url}}">Voir sur Twitter</a>
        </div>
    </div>

</div>