div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
}

a {
    color: inherit;
}

#user_logo {
    border: 3px solid white;
    border-radius: 300px;
    width: 50%;
    height: 100%;
}