div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: inherit;
}

#user_logo {
    border: 3px solid white;
    border-radius: 300px;
    width: 20%;
    height: auto;
}

h1 {
    font-size: xx-large;
}