<div *ngIf="this.state == true">
    <gridster-item [item]="this.item" class="twitch-background">
        <div class="container-fluid" id="scrollbar" style="overflow-y: auto; max-height: calc(100% - 40px);">
            <div class="row justify-content-between" style="margin-top: 2%;">
                <div class="col-lg-3" style="margin-left: 30px;">
                    <img id="twitch-logo" src="../../../../assets/TwitchGlitchWhite.png">
                </div>
                <div>
                    <button mat-mini-fab color="basic" style="margin-right: 30px;" (click)="this.deleteWidget($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div class="justify-content-center">
                <app-twitch-users *ngIf="this.type == 'PROFILE'"></app-twitch-users>
                <app-twitch-follows *ngIf="this.type == 'FOLLOWS'"></app-twitch-follows>
                <app-twitch-search *ngIf="this.type == 'SEARCH'"></app-twitch-search>
            </div>
        </div>
    </gridster-item>
</div>