#widget-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.results {
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 2%;
}

.user_img {
    width: 100%;
    padding: 5px;
    height: auto;
    border-radius: 10px;
}

.language {
    width: 80%;
    height: auto;
    border-radius: 10px;
}