
<mat-card>
    <mat-card-title>SIGN UP</mat-card-title>
    <br />
    <mat-card-content>
        <form (ngSubmit)="authService.SignUp(userEmail.value, userPassword.value, userName.value)">

            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Enter you name</mat-label>
                    <input matInput placeholder="Monique" #userName required>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Enter you email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" #userEmail required>
                    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" #userPassword />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </p>

            <button mat-raised-button color="primary" type="submit" class="login">Sign Up</button>

            <br /> <br />

            <div style="display: flex; align-items: center; justify-content:center;">
                <button mat-button (click)="authService.GoogleAuth()" style="padding: 1rem;">
                    <mat-icon svgIcon="google" aria-hidden="false" aria-label="Example google SVG icon" style="width: 50px; height:30px"></mat-icon>
                       Continue with Google
                </button>
            </div>

            <br />
            <div class="redirectToLogin">
                <span>Already have an account ?    <span class="redirect"> <a mat-raised-button routerLink="/sign-in">Login</a></span></span>
            </div>

        </form>
    </mat-card-content>
</mat-card>