<div class="row justify-content-center">
    <h1 id="widget-name">Members</h1>
</div>
<div class="row justify-content-center">
    <h1 style="color: white;">Board : Dashboard</h1>
</div>
<div class="member row" *ngFor="let member of this.data">
    <div class="col-lg-1 user_background">
        <div class="user_img">
            <p class="user_initials">{{this.getInitials(member.fullName)}}</p>
        </div>
    </div>
    <div class="offset-lg-2 col-lg-3">
        <p>{{member.fullName}} (<a target="_blank" href="https://trello.com/{{member.username}}">@{{member.username}}</a>)</p>
    </div>
</div>