<div class="container-fluid">
    <div class="row">
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-11 px-4">
            <div class="inner-adjust">
                <div class="row pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Add a Widget</h1>
                </div>
                <div class="offset-lg-1">
                    <div class="row pt-3 pb-2 mb-3 border-bottom">
                        <h2 class="h2">Connect to a service</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <button (click)="twitchService.spotifyRequest()" id="enable-spotify-connection">
                                <img src="../../../assets/Spotify_Logo_RGB_White.png" alt="spotify_logo" id="spotify-logo">
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button (click)="twitchService.twitchRequest()" id="enable-twitch-connection">
                                    <img src="../../../assets/TwitchGlitchWhite.png" alt="twitch_logo" id="twitch-logo1">
                                    <img src="../../../assets/Twitch-Wordmark-White.png" alt="twitch_logo" id="twitch-logo2">
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button (click)="authService.GoogleAuth()" id="enable-twitter-connection">
                                    <img src="../../../assets/Twitter_Logo_WhiteOnBlue.png" alt="twitter_logo" id="twitter-logo">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Available Widgets</h1>
                </div>
                <div class="offset-lg-1">
                    <div class="row pt-3 pb-2 mb-3 border-bottom">
                        <img src="../../../assets/Spotify_Logo_RGB_Green.png" alt="spotify_logo" style="width: 10%;">
                        <h4>(Connect to Spotify service first !)</h4>
                    </div>
                    <div class="row">
                        <button id="enable-spotify-connection" class="col-lg-2">
                            <p class="widgets">My Profile</p>
                        </button>
                        <button id="enable-spotify-connection" class="col-lg-2 offset-lg-1">
                            <p class="widgets">My Follows</p>
                        </button>
                        <button id="enable-spotify-connection" class="col-lg-2 offset-lg-1">
                            <p class="widgets">My Playlists</p>
                        </button>
                    </div>
                </div>
                <div class="offset-lg-1">
                    <div class="row pt-3 pb-2 mb-3 border-bottom">
                        <img src="../../../assets/TwitchGlitchPurple.png" alt="twitch_logo" style="width: 4%; padding-right: 1%;">
                        <h4>(Connect to Twitch service first !)</h4>
                    </div>
                    <div class="row">
                        <button id="enable-twitch-connection" class="col-lg-2">
                            <p class="widgets">My Profile</p>
                        </button>
                        <button id="enable-twitch-connection" class="col-lg-2 offset-lg-1">
                            <p class="widgets">My Follows</p>
                        </button>
                        <button id="enable-twitch-connection" class="col-lg-2 offset-lg-1">
                            <p class="widgets">Research</p>
                        </button>
                    </div>
                </div>
                <div class="offset-lg-1">
                    <div class="row pt-3 pb-2 mb-3 border-bottom">
                        <img src="../../../assets/Twitter_Logo_Blue.png" alt="twitch_logo" style="width: 5%; padding-right: 1%;">
                        <h4>(Connect to Twitter service first !)</h4>
                    </div>
                    <div class="row">
                        <button id="enable-twitter-connection" class="col-lg-2">
                            <p class="widgets">My Timeline</p>
                        </button>
                        <button id="enable-twitter-connection" class="col-lg-2 offset-lg-1">
                            <p class="widgets">Tweet</p>
                        </button>
                        <button id="enable-twitter-connection" class="col-lg-2 offset-lg-1">
                            <p class="widgets">Research</p>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>